{% extends 'base.html.twig' %}

{% block body %}
<h1>Email for your reset Password</h1>

<p>For reinitialization you password, go click on the link who follow</p>

<a href="{{ reset_url }}">Reset</a>

{% endblock %}